@model SchoolAdminAPIconsuming.Models.Student

@{
    ViewData["Title"] = "Add Student";
}

<h2>Add Student</h2>

<form asp-action="AddStudent" method="post">
    <div class="form-group">
        <label asp-for="StudentName" class="control-label"></label>
        <input asp-for="StudentName" class="form-control" />
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserId" class="control-label"></label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Parent_Email" class="control-label"></label>
        <input asp-for="Parent_Email" class="form-control" />
        <span asp-validation-for="Parent_Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FeesStatus" class="control-label"></label>
        <input asp-for="FeesStatus" class="form-control" />
        <span asp-validation-for="FeesStatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="role" class="control-label"></label>
        <input asp-for="role" class="form-control" />
        <span asp-validation-for="role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Student" class="btn btn-primary" />
    </div>
</form>
